<nav class="navbar navbar-default navbar-fixed-top">
    <a class="navbar-brand" href="/">Miami 211</a>
    <!-- Search form -->
    <% if @hide_search != true %>
        <form action="/org_search" method="get" class="form-inline">
            <div class="form-group">
                <!-- <label for="nav_search">I need...</label>-->
                <input type="text" name="search_terms" placeholder="I need help with..." class="form-control" id="nav_search">
                near 
                 <input type="text" name="address" id="address" placeholder="Address" class="form-control">
                 <input type="hidden" name="lat"><input type="hidden" name="lng">
                 <button class="btn" id="geo"><i class="fa fa-lg fa-globe"></i></button>
                <button type="submit" class="btn btn-primary">New Search</button>
            </div>
        </form>
    <% end %>  
</nav>