<nav class="navbar navbar-default">
    <a class="navbar-brand" href="/">Miami 211</a>
    <!-- Search form -->
    <% if @hide_search != true %>
        <form action="/org_search" method="get" class="form-inline">
             <span class="form-group">
                <input type="text" name="search_terms" placeholder="I need help with..." class="form-control" id="search-input">
                <input type="hidden" name="address" value="<%= @address %>">
                <input type="hidden" name="lat">
                <input type="hidden" name="lng">
                <button type="submit" id="submit-button" class="btn btn-primary">Search</button>
            </span>
            <span class="navbar-text">
                <span  id="my-address">
                    Your location: <%= @address.gsub("Florida", "FL").gsub(", United States", "") %>
                </span>
                <a href="/">Change</a>
            </span>
        </form>
    <% end %> 
</nav>