<nav class="navbar navbar-default navbar-fixed-top">
    <a class="navbar-brand" href="/">Miami 211</a>
    <!-- Search form -->
    <% if @hide_search != true %>
        <form action="/org_search" method="get" class="form-inline">
             <span class="form-group">
                <input type="text" name="search_terms" placeholder="I need help with..." class="form-control" id="home_search">
                <input type="hidden" name="address" value="<%= @address %>">
                <input type="hidden" name="lat" value=""><input type="hidden" name="lng" value="-80.1919">
                <button type="submit" id="submit-button" class="btn btn-primary">Search</button>
            </span>
            <span class="navbar-text" id="my-address">
                Your location: <%= @address[0..-16].gsub("Florida", "FL") %> <a href="/">Reset</a>
            </span>
        </form>
    <% end %> 
</nav>