<div id="home-search">
    <div id="home-search-child">
        <form action="/org_search" method="get" class="form-inline">
            <div class="form-group">
                <input type="text" name="search_terms" placeholder="I need help with..." class="form-control" id="search-input">
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="geo" value="option1">
                </label>
                <input type="text" name="address" id="address-input" placeholder="near me (optional)" class="form-control geo-gray">
                <input type="hidden" name="lat">
                <input type="hidden" name="lng">
                <button type="submit" id="submit-button" class="btn btn-primary">Search</button>
            </div>
            <input type="reset" class="btn btn-link" value="Reset" onClick="window.location.reload()">
        </form>
    </div>
</div>
<div class="container" id="suggestions">
    <% @categories.sort.each_slice(25) do |arr| %>
        <div class="col-md-3">
           <ul class="list-unstyled">
            <% arr.each do |x| %>
                <li><a href="/org_search?search_terms=<%= x.downcase.gsub(" ", "+") %>&address=1+NE+1st+Ave%2C+Miami%2C+Florida+33132%2C+United+States&lat=25.7713&lng=-80.1919"><%= x %></a></li>
            <% end %>
            </ul>
        </div>
    <% end %>
</div>