<!doctype html>
<html>
	<head>
	  <title>Miami 211 | Search</title>
	</head>
	<body>
		<h1>Miami 211</h1>
		
		<form action="/org_search" method="get">

			<input type="text" name="search_terms" placeholder="Enter search term(s)">

			<button type="submit">Search</button>
			
		</form>

</body>
</html>