<div id="home-search">
    <div id="home-search-child">
        <form action="/org_search" method="get" class="form-inline">
            <div class="form-group">
                 <label for="home_search">I need help with...</label>
                <input type="text" name="search_terms" placeholder="" class="form-control" id="home_search">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>
