<!-- First column -->
<div class="col-md-3" id="search-results">
    <h3><%= @search.length %> results</h3>
    <% @search.each do |result| %>
    <p><%= result.organization.name %></p>
    <% end %>
</div>

<!-- Second column -->
<div class="col-md-3" id="search-refine">
    <h3>Refine by</h3>
</div>

<!-- Third column -->
<div class="col-md-6" id="search-map">
    Map goes here
</div>