/* COLOR PALETTE ----------------------
See US federal standards at: https://standards.usa.gov/colors/

white: rgb(255,255,255);
black: #212121;
gray: #5b616b;
gray-light: #aeb0b5;
gray_lighter: #d6d7d9;
gray_lightest: #f1f1f1;

dark-blue (primary): #0071bc;

gold: #fdb81e; 
green: #2e8540;
red: #e31c3d; */

/* GENERAL ---------------------------- */

html
    {   
    font-size: 16px; /* (rem) */
    }

body 
    {
    color: #212121;    
    font-family: 'Roboto', sans-serif;
    padding-top: 3.375rem; /* to clear navbar */
    }

main
    {
    margin-top: 3.375rem
    }

a
    {
    color: #0071bc
    }

.btn-primary
    {
    background-color: #0071bc;
    border: 1px solid #0071bc;
    color: #fff
    }

.container-fluid
    {
    margin: 0;
    padding: 0
    }

.ui-front /* Autocomplete */
{
    background-color: #fff;
    border: 1px solid #d6d7d9;
    border-radius: .25rem;
    z-index: 2000 !important
}

/* NAVBAR ----------------------------- */

.navbar
    {
    background-color: #fff;
    border-bottom: 1px solid #d6d7d9;
    }


/* HOME ------------------------------- */

#home-search
    {
    background-color: #f1f1f1;
    height: 200px;
    text-align: center
    }

#home-search-child
    {
    left: 50%;
    position: relative;
    top: 45%;
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);    
    }

/* SEARCH REFINE ---------------------- */

#search-refine
    {
    color: #aeb0b5;
    padding: 1rem 1rem 0;
    }

#search-refine .btn-primary
    {
    background-color: #d6d7d9;
    border: 1px solid #d6d7d9;
    color: #212121
    }

#refine-by-city, #refine-by-radius
    {
    color: #212121;
    padding: 1rem 0 0 1rem
    }

    @media (max-width: 480px){
        
        #refine-by-city    
        {
        padding-top: 3rem
        }
    }

#this-zip
{
    width: 5rem
}


/* SEARCH RESULTS --------------------- */

#search-results
    {
    padding: 1rem 1rem 0;
    }

.each-result
    {
    border-bottom: 1px solid #d6d7d9;
    padding: 1rem 0;
    -webkit-transition: .5s;
    transition: .5s
    }

.collapsed
    {
    display: none
    }

.expanded
    {
    
    }

.caret
    {
    color: #aeb0b5;
    text-align: right
    }

.org-name
    {
    font-weight: 700
    }

.org-address, .org-phone
    {
    color: #2e8540;
    }

.org-categories ul
    {
    margin: .5rem 0 0 0;
    padding-left: 1rem;
    }

.org-description
    {
    margin-top: .5rem;
    }

/* MAP -------------------------------- */


#details-pane {
    position: relative;
}

#search-map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
}