html
    {
    font-size: 16px;
    }

body 
    {
    color: #212121;    
    font-family: 'Roboto Slab', serif;
    padding-top: 50px;
    }

main
    {
    margin-top: 1.25rem
    }

/* SEARCH RESULTS --------------------- */

#search-results
{
    

}